[*.cs]

# SA1600: Elements should be documented
dotnet_diagnostic.SA1600.severity = none

# SA0001: XML comment analysis is disabled due to project configuration
dotnet_diagnostic.SA0001.severity = none
