# top-most EditorConfig file
root = true

[*]
end_of_line = crlf

[*.{cs,xaml}]
indent_style = space
indent_size = 4
trim_trailing_whitespace = true
insert_final_newline = true

# SA1200: Using directives should be placed correctly
dotnet_diagnostic.SA1200.severity = warning

# SA0001: XML comment analysis disabled
dotnet_diagnostic.SA0001.severity = none
