# top-most EditorConfig file
root = true

[*]
end_of_line = crlf

[*.{cs,xaml}]
indent_style = space
indent_size = 4
trim_trailing_whitespace = true
insert_final_newline = true

# SA1200: Using directives should be placed correctly
dotnet_diagnostic.SA1200.severity = warning

# SA0001: XML comment analysis disabled
dotnet_diagnostic.SA0001.severity = none

# SA1600: Elements should be documented
dotnet_diagnostic.SA1600.severity = none

# IDE0040: Add accessibility modifiers
dotnet_style_require_accessibility_modifiers = for_non_interface_members:none

# SA1602: Enumeration items should be documented
dotnet_diagnostic.SA1602.severity = none

# Dotnet code style settings:
[*.{cs}]
# Sort using and Import directives with System.* appearing first
dotnet_sort_system_directives_first = true

# CS8032: An instance of analyzer RapidXaml.InternalAnalyzers.RapidXamlInternalAnalyzersAnalyzer cannot be created from C:\Users\matt\Documents\GitHub\mrlacey-RXT\VSIX\RapidXaml.InternalAnalyzers\RapidXaml.InternalAnalyzers\bin\Debug\netstandard2.0\RapidXaml.InternalAnalyzers.dll : Could not load file or assembly 'Microsoft.CodeAnalysis, Version=3.10.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35' or one of its dependencies. The system cannot find the file specified..
dotnet_diagnostic.CS8032.severity = none
